<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Benutzer bearbeiten</title>
</head>
<body>
<h1>Benutzer bearbeiten</h1>
<form action="/users/update-user/<%= user.id %>" method="POST">
    <label for="name">Name:</label><br />
    <input type="text" name="name" id="name" value="<%= user.name %>" required /><br /><br />
    <label for="email">Email:</label><br />
    <input type="email" name="email" id="email" value="<%= user.email %>" required /><br /><br />
    <button type="submit">Änderungen speichern</button>
</form>
<p><a href="/users">Zurück zur Liste</a></p>
</body>
</html>
