<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Benutzer hinzuf端gen</title>
</head>
<body>
<h1>Neuen Benutzer hinzuf端gen</h1>
<form action="/users/add-user" method="POST">
    <label for="name">Name:</label><br />
    <input type="text" name="name" id="name" required /><br /><br />
    <label for="email">Email:</label><br />
    <input type="email" name="email" id="email" required /><br /><br />
    <button type="submit">Hinzuf端gen</button>
</form>
<p><a href="/users">Zur端ck zur Liste</a></p>
</body>
</html>
